@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-4 text-center"> 
    <h1 class="display-4">Module 4 Challenge</h1>
    <p class="mb-3">Welcome! Click below to view the Dad Joke Generator.</p>

    <a class="btn btn-primary" href="/DadJokes">Go to Dad Jokes</a>
</div>
@* This is the homepage that then takes you to the dad jokes page *@